@font-face {
    font-family: "OpenSansBold";
    src: url(../font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "OpenSansLight";
    src: url(../font/OpenSans-Light.ttf);
}

@font-face {
    font-family: "OpenSansRegular";
    src: url(../font/OpenSans-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fcedda;
}

input{
    display: inline-block;
}

html, body, .main{
    height: 100%;
}
.main{
    width: 700px;
    /* background-color: #ee4e34; */
    margin: 0 auto;
}

.title{
    width: 700px;
    height: 200px;
    margin-bottom: 50px;
}
.title_top{
    height: 100px;
}
.title_bottom{
    height: 100px;
    font-family: "OpenSansBold";
    font-size: 60px;
    color: #ee4e34;
    text-align: center;
    line-height: 100px;
}
.content>div{
    height: 100px;
    font-size: 20px;
    font-family: "OpenSansBold";
    color: #ee4e34;
    margin-left: 94px;
    
}
.photo{
    margin-top: 60px;

}
input[type=text]{
    margin-top: 15px;
    height: 40px;
    width: 500px;
    border-radius: 5px;
    border: 3px solid #ee4e34;
    font-size: 20px;
}

.selection{
    margin-top: 15px;
    height: 45px;
    width: 500px;
    border-radius: 5px;
    border: 3px solid #ee4e34;
    font-size: 20px;
    background-color: #f7eee3;
    font-family: "OpenSansBold";
    color: #ee4e34;
}

.textarea{
    margin-top: 15px;
    height: 100px;
    width: 500px;
    border-radius: 5px;
    border: 3px solid #ee4e34;
    font-size: 20px;
    font-family: "OpenSansBold";
    color: #ee4e34;
    background-color: #f7eee3;
}

.button div{
    background-color: #ee4e34;
    width: 50px;
    height: 30px;
    margin-left: 120px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
}

.button div input{
    width: 100px;
    height: 60px;
    background-color: #ee4e34;
    border: 0px solid #ee4e34;
    font-family: "OpenSansBold";
    color: #fcedda;
    border-radius: 15px;
    font-size: 25px;
}
.button div input:hover{
    background-color: #c43d28;
    color: #f7eee3;
}
input{
    background-color: #f7eee3;
}

.file{
    margin-top: 20px;
    width: 30px;
    background-color: pink;
}


.file input{
    background-color: #ee4e34;
    width: 30px;
    opacity: 0;
}