<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
=======
@font-face {
  font-family: "OpenSansBold";
  src: url(/static/fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "OpenSansLight";
  src: url(/static/fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "OpenSansRegular";
  src: url(/static/fonts/OpenSans-Regular.ttf);
}
table{
  border: 1px solid #FCEDDA;
  width: 100%;
  height: 100%;
  text-align: center;
}
th{
  text-align: center;
  color:rgba(157,170,249,1);
  border-bottom:1px solid #FCEDDA;
}
>>>>>>> zihua

td{
  text-align: center;
  color:#FCEDDA ;
  border-bottom:1px solid #FCEDDA;
}
td:hover{
  background-color: #FCEDDA;
  color:rgba(157,170,249,1) ;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EE4E34;
    color:#FCEDDA;/*字体颜色*/
    text-align:center;/*居中*/
  }
  li {
    float: left;
  }
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #EE4E34;
  }
  
  .active {
    background-color :#FCEDDA;
  }
   h1{   
     background-color: #EE4E34;
          color:#FCEDDA;/*字体颜色*/
          text-align:center;/*居中*/
     
      } 
      a:link, a:visited {
    background-color: #EE4E34;
    color: #FCEDDA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #EE4E34;
  }
  p{
    float: left;
  }
  #rcorners {
    border-radius: 25px;
    background: #EE4E34;
    padding: 20px; 
    width: 200px;
    height: 150px;  
    color: #FCEDDA;
    text-align:center;/*居中*/
    margin: 50px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #EE4E34;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.5;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #EE4E34;
    color: #FCEDDA;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #EE4E34;
  }
  
  .divAdd{
    border-radius: 5px;
    background-color: #EE4E34;
    padding: 20px;
    opacity: 0.7;
    position:relative;
    left: 20%;
    bottom: 50%;
    width: 400px;
    height: 500px;
    display: inline-block;
    float: left;
  }
  .divAdd:hover{
    background-color: #EE4E34;
    opacity: 0.8;
  }
  .add{
    color: rgba(157,170,249,1);
    text-align: center;
  }
  .selectsize{
width: 350;
height: 300px;
  }

.popup{
position: relative;
display: inline-block;
cursor:pointer;
}
#header{
  height: 40px;
}
#header-right{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: red;
  color: #fff;
  right: 5px;
  top: 5px;
  text-align: center;
}
.pop{
  position: absolute;
  left: 30%;
  top:20%;
  /* transform: translate(-20%,-20%); */
}