@font-face {
    font-family: "OpenSansBold";
    src: url(/static/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSansLight";
    src: url(/static/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: "OpenSansRegular";
    src: url(/static/fonts/OpenSans-Regular.ttf);
}

body {
    font-family: 'OpenSansBold';
    margin: 0;
    padding: 0;
    background-color: #fcedda;
  }

  h1 {
    text-align: center;
    margin: 20px 0;
  }

  .question {
    /* Style the question block */
    font-family: 'OpenSansBold';
    background-color: #EE4E34;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    color: #fcedda;
    
  }

  .question:hover {
    /* Add hover effect */
    background-color: grey;
    color: white;
    font-family: 'OpenSansBold';
  }

  .answer {
    /* Style the answer block */
    background-color: #fcedda;
    border: 3px solid #EE4E34;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-family: 'OpenSansBold';
    display: block; /* Hide the answer by default */
    color: #EE4E34;
  }

  .question.active + .answer {
    /* Show the answer when the question is clicked */
    display: block;
  }