@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

#footer,#links a,#products a{
    background-color: #ee4e34 !important;
    color: #FCEDDA !important;
    font-family: 'Open Sans', sans-serif;
}

/* #links a{
    
    background-color: #ee4e34 !important;
    color: #FCEDDA !important;
    font-family: 'Open Sans', sans-serif;
} */
