/* @font-face {
    font-family: "OpenSansBold";
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSansLight";
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: "OpenSansRegular";
    src: url(../fonts/OpenSans-Regular.ttf);
} */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcedda;
    font-family: 'Open Sans', sans-serif;
}

input {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

html,
body,
.main {
    height: 100%;
    background-color: #fcedda;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fcedda;
}

.fancy-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    color: #ee4e34;
    margin-bottom: 20px;
  }

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ee4e34;
    border: 0px solid #ee4e34;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.error {
    color: red;
    text-align: center;
}

@media (max-width: 500px) {
    .form-container {
        padding: 10px;
    }
}