@font-face {
    font-family: "OpenSansBold";
    src: url(/static/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSansLight";
    src: url(/static/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: "OpenSansRegular";
    src: url(/static/fonts/OpenSans-Regular.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OpenSans-Bold';
    font-weight: bold;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'OpenSansBold';
}
.background-color {
    background-color: #FCEDDA;
}
.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #EE4E34;
    padding: 40px;
    border-radius: 25px;
    font-family: 'OpenSansBold';
}

img {
    align-items: center;
}

p {
    color: #fcedda;
    margin-bottom: 20px;
    font-family: 'OpenSansBold';
}

.innercontainer {
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fcedda;
    padding: 30px;
    border-radius: 25px;
    font-family: 'OpenSansBold';
}

.innercontainer .input-field {
    position: relative;
    height: 75px;
    width: 75%;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    font-family: 'OpenSansBold';
}


.input-field input {
    position: relative;
    width: 130%;
    height: 75%;
    padding: 0 35px;
    border-color: #EE4E34;
    border-style: solid;
    border-radius: 25px;
    align-items: center;
    font-family: 'OpenSansBold';
}

 ::placeholder {
    color: #EE4E34;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    font-family: 'OpenSansBold';
}

.line {
    color: #EE4E34;
    text-align: center;
    font-size: small;
    font-family: 'OpenSansBold';
    font-weight: bold;
}
a{
    font-family: 'OpenSansBold';
    color: #EE4E34; 
    font-weight: bold;
}

button {
    background-color: #EE4E34;
    border-radius: 25px;
    border-color: #EE4E34;
    border-style: solid;
    color: #fcedda;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: 75%;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'OpenSansBold';
}

.create {
    background-color: #9daaf2;
    border-radius: 25px;
    border-style: solid;
    border-color: #9daaf2;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 75%;
    font-weight: bold;
    font-family: 'OpenSansBold';
}