@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

.background-color {
    background-color: #FCEDDA;
}
body{
    resize: none;
    height: 100%;
    width: 100%;
}

.block__item{
    float: left; 
    width: 15%; 
    display: grid;
    margin-left: 8%;
    margin-top: 7%;
    resize: none;
}

.block__item1{
    float: left; 
    width: 15%; 
    display: grid;
    margin-left: 8%;
    margin-top: 7%;
}
.textlayout{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 6px;
    text-align: center;
    color: #EE4E34;
}

.textinboxes{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 6px;

}
.square1 {
    width: 181px;
    height: 181px;
    background-color: #EE4E34;
    border-radius: 45px;

}

.square2 {
    width: 181px;
    height: 181px;
    background-color: #EE4E34;
    border-radius: 45px;
}

.square3 {
    width: 181px;
    height: 181px;
    background-color: #EE4E34;
    border-radius: 45px;


}

.square4 {
    width: 181px;
    height: 181px;
    background-color: #EE4E34;
    border-radius: 45px;
}

.square5 {
    width: 181px;
    height: 181px;
    background-color: #EE4E34;
    border-radius: 45px;

}

.square6 {
    width: 181px;
    height: 181px;
    background-color: #EE4E34;
    border-radius: 45px;
 
}

.square7 {
    width: 181px;
    height: 181px;
    background-color: #EE4E34;
    border-radius: 45px;


}

.square8 {
    width: 181px;
    height: 181px;
    background-color: #FCEDDA;
    border-radius: 45px;
    border-style: solid;
    border-color: #EE4E34;
    border-width: 7px;

}


.nameofgrouptext{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    margin-left: 16px;
    margin-top: 30px;
}    


.nameofgrouptextfirst{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    margin-right: 25px;
    text-align: right;
    margin-top: 8px;
}   
.nameofgrouptextdevice{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #FCEDDA;
    border-radius: 24px;
    margin-top: 50px;
    text-align: center;
}
.arrow{
 width: 43px;
margin-left: 65%;
margin-top: 35%;
}
.plus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    width: 50%;
}

.block__item,
.block__item1 {
width: 23.33%;
display: inline-block;
vertical-align: top;
}

.square1,
.square2,
.square3,
.square4,
.square5,
.square6,
.square7,
.square8 {
border: solid 1px #EE4E34;
text-align: center;
}

.nameofgrouptextdevice {
padding: 30px;
}

.nameofgrouptext {
padding: 30px;
}

.arrow {
margin-left: 20px;
}

.plus {
margin-top: 20px;
display: block;
margin-left: auto;
margin-right: auto;
}

.textlayout {
text-align: center;
padding: 30px;
}

@media (max-width: 720px) {
.block__item,
.block__item1 {
width: 50%;
}
}

@media (max-width: 480px) {
.block__item,
.block__item1 {
width: 100%;
}
}

.block__item1 .square8 .plus {
    max-width: 100%;
    height: auto;
    }
    
    @media (max-width: 767px) {
    .block__item1 .square8 .plus {
    width: 80%;
    }
    }