@font-face {
    font-family: "OpenSansBold";
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSansLight";
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: "OpenSansRegular";
    src: url(/fonts/OpenSans-Regular.ttf);
}

.container{
    animation: transitionIn 1s;
}


@keyframes transitionIn {
    from    {
    opacity: 0;
    transform: rotateY(-30px);
    }
    to  {
        opacity: 1;
        transform: rotateY(0px);
        
    }
}

.background-color {
    background-color: #FCEDDA;
}

.textmain{
    font-family: 'OpenSansBold';
    text-align: center;
    font-size: 75px;
    margin-top: 56px;
    color: #EE4E34;
}

.body{
    size: 100%;
}

.smalltext{
    font-family: 'OpenSansBold';
    text-align: center;
    margin-top: 60px;
    color: #FCEDDA;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.block1{
    background: linear-gradient( rgba(157,170,249,1) 0%, rgba(238,78,52,1) 50%);
    margin-top: 87px;
    margin-left: 125px;
    width: 300px;
    height: 475px;
    border-radius: 62px;
    float: left;
    font-family: 'OpenSansBold';
    text-align: center;
    text-indent: 15px;
    
}

.block2{
    background: linear-gradient( rgba(157,170,249,1) 0%, rgba(238,78,52,1) 50%);
    background-color: #EE4E34;
    margin-top: 87px;
    margin-left: 150px;
    width: 300px;
    height: 475px;
    border-radius: 62px;
    float: left;
    font-family: 'OpenSansBold';
    text-align: center;
    text-indent: each-line 15px;
}
p{
    font-family: 'OpenSansBold';
    text-align: center;
    margin-top: 30px;
    color: #FCEDDA;
    font-size: 20px;
    
}

.block3{
    background: linear-gradient( rgba(157,170,249,1) 0%, rgba(238,78,52,1) 50%);
    background-color: #EE4E34;
    margin-top: 87px;
    margin-left: 150px;
    width: 300px;
    height: 475px;
    border-radius: 62px;
    float: left;
    font-family: 'OpenSansBold';
    text-align: justify;
    text-indent: each-line 15px;
    
}