<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../static/css/styleabout.css">
</head>
<body style="background-color:#FCEDDA;">
    <div class="textmain">WHO WE ARE?</div>
    <div class="container">
        <div class="block1"> <p>Fusce</p>
            <div class="smalltext">
                In sagittis molestie augue, sed dignissim lectus mattis eu. Vivamus elementum felis vitae urna dictum, et hendrerit nisi porta. Aliquam erat volutpat. In lacus velit, aliquam non orci eu, accumsan egestas turpis. Fusce ac ante et libero vestibulum commodo. Donec in aliquet sem, vitae eleifend nisi. Morbi consectetur posuere sapien et molestie. Aenean ornare sit amet sem sed mattis. Nulla vel arcu ultricies, bibendum elit non, euismod tellus. Morbi eu arcu lacus. Vestibulum tempor sem odio, iaculis tempus odio hendrerit eu. Nullam volutpat turpis eu gravida rhoncus.
            </div>
        </div>
        <div class="block2"> <p>Lorda</p> 
            <div class="smalltext">
                Quisque in porta nisl. Ut eu fermentum tellus, vitae condimentum ligula. Maecenas a pulvinar diam. Duis condimentum dolor ante, in pulvinar orci tincidunt vel. Curabitur ornare mi velit, eget fringilla ex eleifend accumsan. Proin tincidunt est tincidunt diam tristique lacinia. Cras nec tempus ipsum. Donec eget laoreet libero, ut pretium tortor. Vestibulum at purus vitae leo pretium rutrum. Donec pretium mi non lectus consectetur, eget gravida mi consectetur.
            </div>
        </div>
        <div class="block3"> <p>Ipsum </p>
            <div class="smalltext">
                Nulla vel tellus ac magna interdum tincidunt. Nullam tellus erat, pellentesque vitae nulla in, tempus malesuada risus. Sed elit massa, dignissim vel ornare sit amet, hendrerit eu est. Curabitur malesuada semper magna at volutpat. Pellentesque vitae consequat tortor, eu ornare lacus. Donec vitae justo velit. Aliquam erat volutpat. Nullam elementum bibendum massa, laoreet scelerisque ligula sollicitudin eget. Vestibulum rhoncus rhoncus enim eget ullamcorper. Morbi eu risus et tortor varius pharetra. In cursus commodo magna, sed convallis enim consectetur at. Aenean mi massa, consectetur et massa sed, pretium commodo est. Aenean consectetur leo libero, a hendrerit dui mattis ut. Nam eleifend arcu eleifend dignissim volutpat.
            </div>
        </div>
    </div>
</body>
<footer>  
    <p><br>Author: Hege Refsnes
    <a href="mailto:hege@example.com">hege@example.com</a></p>
</footer>
</html>