<!DOCTYPE HTML>
<html>
 <head>
  <style>
body{
  background-color: #FCEDDA;
}
  </style>
  <link rel="stylesheet" type="text/css" href="../static/css/add-group.css"/>
 </head>

 <body>
  <div class="pop">
    <div class="divAdd">
      <form action="../authentication/addgroup.php" target="_blank" class="add">
        <label for="fname">NewGroupName</label>
        <input type="text" id="fname" name="groupname" placeholder="new group name..">
    
    
        <label for="devices">devices</label>
        <select id="devices" name="devices" multiple="multiple" class="selectsize">
          <option value="device1">airconditioner</option>
          <option value="device2">light1</option>
          <option value="device3">light2</option>
          <option value="device4">door1</option>
          <option value="device5">window</option>
        </select>
      
        <input type="submit" value="Submit">
      </form>
    </div>
 <!-- <div class="divAdd">
  <table>
    <tr>
      <th>current group</th>
    </tr>
    <tr>
      <td>livingroom</td>
    </tr>
    <tr>
      <td>beadroom</td>
    </tr>
    <tr>
      <td>kitchen</td>
    </tr>
    <tr>
      <td>lights</td>
    </tr>
    <tr>
      <td>windows</td>
    </tr>
    <tr>
      <td>doors</td>
    </tr>
  </table>
  </div> -->
</div>
</body>
</html>