<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/room.css">
</head>
<body >
<!-- <div>
    <div class="rcorners1 toggle-button-wrapper ">
    <img src="../static/images/airconditioner.png" alt="airconditioner"> <br>
    <input type="checkbox" id="toggle-button" name="switch">
    <label for="toggle-button" class="button-label">
        <span class="circle"></span>
        <span class="text on">ON</span>
        <span class="text off">OFF</span>
    </label> 
    <p>Air Conditioner</p> 
    </div>
    <div class="rcorners1 toggle-button-wrapper">
    <img src="../static/images/light.png" alt="light"> <br>
    <input type="checkbox" id="toggle-button2" name="switch2">
    <label for="toggle-button2" class="button-label">
        <span class="circle"></span>
        <span class="text on">ON</span>
        <span class="text off">OFF</span>
    </label>
    <p>Light</p> 
</div> -->
<div class="pop">
    <div class="rcorners1">
        <img src="../static/images/light.png" alt="light"> <br>
        <input class="switch-button" type="checkbox">
        <p>Light</p>
    </div>
    <div class="rcorners1">
        <img src="../static/images/light.png" alt="light"> <br>
        <input class="switch-button" type="checkbox">
        <p>Light</p>
    </div>
    <div class="rcorners1">
        <img src="../static/images/light.png" alt="light"> <br>
        <input class="switch-button" type="checkbox">
        <p>Light</p>
    </div>
    <div class="rcorners1">
        <img src="../static/images/light.png" alt="light"> <br>
        <input class="switch-button" type="checkbox">
        <p>Light</p>   
    </div>
    <div class="rcorners1">
        <img src="../static/images/light.png" alt="light"> <br>
        <input class="switch-button" type="checkbox">
        <p>Light</p>   
    </div>
    <div class="rcorners1">
        <img src="../static/images/light.png" alt="light"> <br>
        <input class="switch-button" type="checkbox">
        <p>Light</p>   
    </div>
    <div class="rcorners1">
        <img src="../static/images/light.png" alt="light"> <br>
        <input class="switch-button" type="checkbox">
        <p>Light</p>   
    </div>
    <div class="rcorners1">
        <img src="../static/images/light.png" alt="light"> <br>
        <input class="switch-button" type="checkbox">
        <p>Light</p>   
    </div>
</div>

</body>
</html>