<!DOCTYPE html>

<html>

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration </title>

    <link rel="stylesheet" type="text/css" href="../static/css/login.css">

</head>

<body>

    <div class="container">

        <img src="C:\Users\megha sankar\Downloads\login and reg\login and reg\icons + logo (1)\SmartHome.png">
        <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Best way to impress your house</p>
        <div class="innercontainer">

            <div class="input-field"><input type="text" placeholder="Email address" required></div>
            <div class="input-field"><input type="password" placeholder="Password" required>
            </div>



            <div class="line">Forgotten password?</div>

            <button type="submit" value="Login" id="submit">Login</button><br>
            <a href="register.html"><button class="create">Create new account</button></a>




        </div>
    </div>

    </div>

</body>

</html>